@mixin fz-MediaBlock {
  .fz-mediaBlock {
    .fz-mediaBlock-image {
      float: left;
    }
    .fz-mediaBlock-body {
      overflow: hidden;
    }
    &.fz-mediaBlock--reverse {
      .fz-mediaBlock-image {
        float: right;
      }
    }
  }
}